body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/** Styles for Navbar starts here **/
.landing-page-navbar{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 64px;
  text-transform: uppercase;
}

.landing-page-navbar h3{
  padding-left: 16px;
}

.landing-page-navbar ul{
  display: flex;
  padding-right: 16px;
}

.landing-page-navbar ul li{
  list-style-type: none;
  padding: 4px;
}

.landing-page-body{
  height: calc(100vh - 64px);
  background: gray;
}

/** login styles go here **/

.login-container,
.register-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form,
.register-form {
  background: rgb(230, 228, 228);
  border-radius: 5px;
  height: 250px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username-wrapper,
.email-wrapper,
.password-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3% 0%;
}

.username-wrapper input,
.email-wrapper input,
.password-wrapper input {
  width: 60%;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 5px;
  padding: 6px;
}

.username-wrapper label,
.email-wrapper label,
.password-wrapper label {
  width: 25%;
}

/** button styles **/

.btn-submit{
  border: 1px solid rgb(124, 124, 124);
  background: #197DF6;
  color: #fefefe;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

/** chatbox styles **/

.chatbox-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatbox{
  height: 500px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
}
.chatbox-display{
    height: 90%;
    overflow-y: scroll;

}
.chatbox-submit-wrapper{
  display: flex;
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.chatbox-submit-wrapper input{
  width: 80%;
}
.chatbox-submit-wrapper button{
  width: 20%;
  height: 100%;
  border-radius: 0;
}

/** chat texts style **/
.display-text-start{
  display: flex;
  justify-content: flex-start;
}

.display-text-end{
  display: flex;
  justify-content: flex-end;
}

.chat-text{
  padding: 6px;
  border-radius: 10px; 
  margin-right: 2%;
  background: rgb(236, 236, 236);
}

.chat-inline{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
